* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    width: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}

h1 {
    margin: 0;
}