.box {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    gap: 1.5rem;
    border-radius: 5px;
    color: white;
    width: 12rem;
    max-height: 3.5rem;
    cursor: pointer;

    p {
        margin: 0;
        font-weight: 500;
        font-size: 1.2rem;
    }

}

.box--on {
    max-height: 100%;
    z-index: 2;
}

.box1 {
    width: 12rem;
    }

.box2 {
    width: 27rem;
}

.box3 {
    width: 40rem;
}
.box4 {
    width: 53rem;
}
.box5 {
    width: 66rem;
}
.box6 {
    width: 79rem;
}
.box7 {
    width: 92rem;
}
.box8 {
    width: 106rem;
}

.box--off {
    width: 12rem;
}