/* .hidden {
    display: none;
} */

.box {
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: space-around;
    padding: 1rem;
    gap: 1.5rem;
    border-radius: 5px;
    color: white;
    width: 12rem;
    max-height: 3.5rem; // height transformer in max height

    

    cursor: pointer;

    p {
        margin: 0;
        font-weight: 500;
        font-size: 1.2rem;
    }

    //.fa-chevron-up {display: none;} // ajouter le display none de manière js comme ça le css charge avant a cause du display flex je suppose
}

.box--on {
    max-height: 100%;
    z-index: 2;
}

.box1 {
    width: 12rem;
    }

.box2 {
    //width: 24rem;
    width: 27rem;
}

.box3 {
    //width: 36rem;
    width: 40rem;
}
.box4 {
    //width: 48rem;
    width: 53rem; //54
}
.box5 {
    //width: 60rem;
    width: 66rem;
}
.box6 {
    //width: 72rem;
    width: 79rem;
}
.box7 {
    //width: 84rem;
    width: 92rem;
}
.box8 {
    //width: 96rem;
    width: 106rem;
}

.box-off {
    width: 12rem;
}