/* .hidden {
    display: none;
} */

.box {
    display: flex;
    flex-direction: column;
    //align-items: center;
    justify-content: space-around;
    padding: 1rem;
    gap: 1.5rem;
    border-radius: 5px;
    color: white;
    width: 12rem;
    max-height: 3.5rem; // height transformer in max height

    cursor: pointer;

    p {
        margin: 0;
        font-weight: 500;
        font-size: 1.2rem;
    }

    //.fa-chevron-up {display: none;} // ajouter le display none de manière js comme ça le css charge avant a cause du display flex je suppose
}

/* .box--off {
width: 12rem;
} */

.box--on {
    width: 36rem;
    max-height: 22.5rem;
}

.box1--on {
    width: 12rem;
    max-height: 7rem;
    }

.box2--on {
    width: 24rem;
    max-height: 12rem;
}

.box3--on {
    width: 36rem;
    max-height: 22.5rem;
}