.filterselected {
    margin-top: 1rem;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        padding-right: 0.5rem;
        padding-left: 0.5rem;
        gap: 0.5rem;
        i {
            cursor: pointer;
        }
    }
}

.type--ingredient {
    background-color: $ingredient-color;
    border-radius: 5px;
}
.type--appliance {
    background-color: $appliance-color;
    border-radius: 5px;
}
.type--tool {
    background-color: $tool-color;
    border-radius: 5px;
}