.listbox {
    margin-top: 1rem;

    &__container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;

        &__ingredients {
            background-color: #3282f7;
            position: relative;

            &__input {
                width: 90%;
                border: none;
                background-color: transparent;
                font-weight: 500;
                font-size: 1.2rem;
                outline: none;
                caret-color: white; // vertical bar input written
                color: #fff;
            }

            &__input::placeholder {
                color: #fff;
                opacity: 0.5;
            }
        }

        &__appliances {
            background-color: #68d9a4;
            position: relative;

            &__input {
                width: 90%;
                border: none;
                background-color: transparent;
                font-weight: 500;
                font-size: 1.2rem;
                outline: none;
                caret-color: white; // vertical bar input written
                color: #fff;
            }

            &__input::placeholder {
                color: #fff;
                opacity: 0.5;
            }
        }

        &__tools {
            background-color: #ed6454;
            position: relative;

            &__input {
                width: 90%;
                border: none;
                background-color: transparent;
                font-weight: 500;
                font-size: 1.2rem;
                outline: none;
                caret-color: white; // vertical bar input written
                color: #fff;
            }

            &__input::placeholder {
                color: #fff;
                opacity: 0.5;
            }
        }

        &__ingredients--swap {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        &__ingredients__list {
            padding: 0;
            margin: 0;
            padding: 1rem;
            margin-left: -1rem;
            gap: 0.5rem 1rem;
            display: flex;
            flex-wrap: wrap;
            top: 3.3rem;
            overflow-y: hidden;
            position: absolute;
            background-color: $ingredient-color;
            border-radius: 0 0 5px 5px;
            
            li {
                width: 12rem;
            }

            li:hover {
                background-color: #1f66d1;
            }
        }

        &__tools--swap {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        &__tools__list {
            padding: 0;
            margin: 0;
            padding: 1rem;
            margin-left: -1rem;
            gap: 0.5rem 1rem;
            display: flex;
            flex-wrap: wrap;
            top: 3.3rem;
            position: absolute;
            background-color: $tool-color;
            border-radius: 0 0 5px 5px;

            li {
                width: 12rem;
            }

            li:hover {
                background-color: #a51f10;
            }
        }

        &__appliances--swap {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
        }

        &__appliances__list {
            padding: 0;
            margin: 0;
            padding: 1rem;
            margin-left: -1rem;
            gap: 0.5rem 1rem;
            display: flex;
            flex-wrap: wrap;
            top: 3.3rem;
            position: absolute;
            background-color: $appliance-color;
            border-radius: 0 0 5px 5px;

            li {
                width: 12rem;
            }

            li:hover {
                background-color: #0daf64;
            }
        }

    }
}

.swap--on {
    gap: 0;
}

//ptetre aps besoin
.column-list1 {
    grid-template-columns: 1fr;
}

.listbox-container-start {
    width: 80%;
    display: flex;
    justify-content: flex-start;
}

.listbox-container-end {
    width: 20%;
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
}