.recherche {
    &__container {
        display: flex;
        flex-direction: column;

        label {
            position: relative;
            //top: 19px; //ça marchera jamais en % mais bien en px
            color: black;
            opacity: 0.25;
            transform: translateY(175%);
            padding-left: 1rem;
            transition: all 0.5s ease-in;
            
        }

        input {
            background: #E6E6E6;
            border-radius: 5px;
            border: none;
            height: 60px;
            padding: 0.5rem 1rem;
            font-size: 1.2rem;
        }

/*         input:focus {

        } */

        
&.active-input label {
    transform: translateY(-10%);
    //top: -15px; // soit px soit transform
    padding-left: 8px;
}

    }

}