* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  width: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style-type: none;
}

h1,
h2 {
  margin: 0;
}

h2 {
  font-weight: 500;
  font-size: 1.2rem;
}

body {
  font-family: "Lato", sans-serif;
  width: 84%;
  margin-right: 8%;
  margin-left: 8%;
  font-size: 1rem;
}

.hidden {
  display: none !important;
}

.visibility {
  visibility: hidden;
}

.font-bold {
  font-weight: 700;
}

/* .hidden {
    display: none;
} */
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  gap: 1.5rem;
  border-radius: 5px;
  color: white;
  width: 12rem;
  max-height: 3.5rem;
  cursor: pointer;
}
.box p {
  margin: 0;
  font-weight: 500;
  font-size: 1.2rem;
}

.box--on {
  max-height: 100%;
  z-index: 2;
}

.box1 {
  width: 12rem;
}

.box2 {
  width: 27rem;
}

.box3 {
  width: 40rem;
}

.box4 {
  width: 53rem;
}

.box5 {
  width: 66rem;
}

.box6 {
  width: 79rem;
}

.box7 {
  width: 92rem;
}

.box8 {
  width: 106rem;
}

.box--off {
  width: 12rem;
}

.filterselected {
  margin-top: 1rem;
  color: white;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
}
.filterselected__item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  gap: 0.5rem;
}
.filterselected__item i {
  cursor: pointer;
}

.type--ingredient {
  background-color: #3282F7;
  border-radius: 5px;
}

.type--appliance {
  background-color: #68D9A4;
  border-radius: 5px;
}

.type--tool {
  background-color: #ED6454;
  border-radius: 5px;
}

header {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header a {
  display: flex;
  flex-direction: column;
  align-items: center;
}
header img {
  width: 64px;
}
header h1 {
  margin-top: -0.2rem;
  font-family: "DM Sans", sans-serif;
  font-size: 2rem;
  color: #D04F4F;
  font-weight: 700;
}

.recherche__container {
  display: flex;
  flex-direction: column;
}
.recherche__container input {
  background: #E6E6E6;
  border-radius: 5px;
  border: none;
  height: 60px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
}
.recherche__container input::placeholder {
  color: black;
  font-weight: 500;
  opacity: 0.25;
}

.listbox {
  margin-top: 1rem;
}
.listbox__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
}
.listbox__container__ingredients {
  background-color: #3282f7;
  position: relative;
}
.listbox__container__ingredients__input {
  width: 90%;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.2rem;
  outline: none;
  caret-color: white;
  color: #fff;
}
.listbox__container__ingredients__input::placeholder {
  color: #fff;
  opacity: 0.5;
}
.listbox__container__appliances {
  background-color: #68d9a4;
  position: relative;
}
.listbox__container__appliances__input {
  width: 90%;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.2rem;
  outline: none;
  caret-color: white;
  color: #fff;
}
.listbox__container__appliances__input::placeholder {
  color: #fff;
  opacity: 0.5;
}
.listbox__container__tools {
  background-color: #ed6454;
  position: relative;
}
.listbox__container__tools__input {
  width: 90%;
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-size: 1.2rem;
  outline: none;
  caret-color: white;
  color: #fff;
}
.listbox__container__tools__input::placeholder {
  color: #fff;
  opacity: 0.5;
}
.listbox__container__ingredients--swap {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.listbox__container__ingredients__list {
  padding: 0;
  margin: 0;
  padding: 1rem;
  margin-left: -1rem;
  gap: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  top: 3.3rem;
  overflow-y: hidden;
  position: absolute;
  background-color: #3282F7;
  border-radius: 0 0 5px 5px;
}
.listbox__container__ingredients__list li {
  width: 12rem;
}
.listbox__container__ingredients__list li:hover {
  background-color: #1f66d1;
}
.listbox__container__tools--swap {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.listbox__container__tools__list {
  padding: 0;
  margin: 0;
  padding: 1rem;
  margin-left: -1rem;
  gap: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  top: 3.3rem;
  position: absolute;
  background-color: #ED6454;
  border-radius: 0 0 5px 5px;
}
.listbox__container__tools__list li {
  width: 12rem;
}
.listbox__container__tools__list li:hover {
  background-color: #a51f10;
}
.listbox__container__appliances--swap {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.listbox__container__appliances__list {
  padding: 0;
  margin: 0;
  padding: 1rem;
  margin-left: -1rem;
  gap: 0.5rem 1rem;
  display: flex;
  flex-wrap: wrap;
  top: 3.3rem;
  position: absolute;
  background-color: #68D9A4;
  border-radius: 0 0 5px 5px;
}
.listbox__container__appliances__list li {
  width: 12rem;
}
.listbox__container__appliances__list li:hover {
  background-color: #0daf64;
}

.swap--on {
  gap: 0;
}

.column-list1 {
  grid-template-columns: 1fr;
}

.listbox-container-start {
  width: 80%;
  display: flex;
  justify-content: flex-start;
}

.listbox-container-end {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  padding-right: 1rem;
}

.recipes {
  padding-top: 1rem;
  width: 100%;
  gap: 50px;
  display: grid;
  grid-template-columns: 30% 30% 30%;
  margin-top: 4rem;
  overflow: hidden;
}
.recipes__card {
  min-width: 300px;
  background: #E7E7E7;
}
.recipes__card__img {
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
.recipes__card__data {
  padding: 0.5rem 1.5rem 1.5rem 1.5rem;
}
.recipes__card__data__content-top {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}
.recipes__card__data__content-top__time {
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 0 0.5rem;
  font-size: 1.2rem;
  width: 10rem;
  overflow: auto;
}
.recipes__card__data__content-top__title {
  width: 80%;
}
.recipes__card__data__content-top h3 {
  margin-bottom: 0;
}
.recipes__card__data__content {
  gap: 0 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-height: 18rem;
}
.recipes__card__data__content ul {
  padding: 0;
}
.recipes__card__data__content__desc {
  display: -webkit-box;
  max-width: 200px;
  -webkit-line-clamp: 10;
  -moz-orient: vertical;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.recipes__norecipes {
  width: 84vw;
  text-align: center;
  white-space: pre-wrap;
  font-weight: bold;
  color: #292929;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

@media screen and (max-width: 1530px) {
  .recipes__card__data {
    font-size: 95%;
  }
  .recipes__card__data__content-top__time, .recipes__card__data__content-top__title {
    font-size: 1.1rem;
  }
}
@media screen and (max-width: 1300px) {
  .recipes {
    grid-template-columns: 47.5% 47.5%;
  }
}
@media screen and (max-width: 1200px) {
  .recipes {
    grid-template-columns: 45% 45%;
  }
  .recipes__card__data {
    font-size: 90%;
  }
  .recipes__card__data__content-top__time, .recipes__card__data__content-top__title {
    font-size: 1rem;
  }
  .recipes__card__data__content__desc {
    width: auto;
    justify-content: flex-end;
  }
}
@media screen and (max-width: 900px) {
  .recipes__card__data {
    font-size: 80%;
  }
  .recipes__card__data__content-top__time, .recipes__card__data__content-top__title {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .recipes {
    grid-template-columns: 85%;
  }
  .recipes__card__data {
    font-size: 90%;
  }
  .recipes__card__data__content__desc {
    max-width: 100%;
  }
}
